<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusConnect">

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />

        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <!-- Home Feed Activity -->
        <activity
            android:name=".HomeFeedActivity"
            android:exported="false" />

        <!-- Create Post Activity -->
        <activity
            android:name=".CreatePostActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Post Details Activity -->
        <activity
            android:name=".PostDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- Event Activity -->
        <activity
            android:name=".EventActivity"
            android:exported="false" />

        <!-- Notice Activity -->
        <activity
            android:name=".NoticeActivity"
            android:exported="false" />

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- Chat List Activity -->
        <activity
            android:name=".ChatListActivity"
            android:exported="false" />

        <!-- Chat Activity -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>